@(system: ICTSystem, changes: List[Change])

<li data-group="@system">
    <span class="toggle"></span>
    <h4 class="systemName">@system</h4>
    <span class="loader">Loading</span>
    <dl class="options">
        <dt>Options</dt>
        <dd>
            <button class="newChange">Create new change</button>
            <button class="deleteGroup">Remove change</button>
        </dd>
    </dl>
    <ul>
        @changes.map { change =>
            @views.html.changes.itemsummary(change)
        }
    </ul>
</li>