@(change: Change)


	<div class="panel-heading">
		<h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse@change.id">
          @change.summary
		  <span class="badge pull-right">@change.id: @change.changeType</span>
        </a>
		</h4>
	</div>
	<div id="#collapse@change.id" class="panel-collapse collapse in">
	<div class="panel-body">
		@change.description</br>
		Affected System: @change.system.name<span class="pull-right">Status: @change.status</span></br>
		@change.iaoApproved @change.testApproved @change.sysOwnApproved @change.infAssurApproved 
		<input type="checkbox" value=@change.iaoApproved>