@(systemForm: Form[ICTSystem], user: User)

@import helper._
@import helper.twitterBootstrap._



@main(user) {
    
    @helper.form(action = routes.Systems.add) {
        
        <fieldset>
            <legend>Add a new System</legend>
            
            @inputText(
                systemForm("name"), '_label -> "System Name",
                '_help -> "Enter a System Name."
            )
            
            @select(
                systemForm("iao"), 
                options = options(User.userListAsStrings(User.find.all)),
                '_default -> "--- Select the IAO for the System ---",
                '_label -> "System IAO"
                
            )
			
			@select(
                systemForm("systemOwner"), 
                options = options(User.userListAsStrings(User.find.all)),
                '_default -> "--- Select the Owner for the System ---",
                '_label -> "System Owner"
                
            )
			
        </fieldset>
        

        

        
        <div class="actions">
            <input type="submit" class="btn primary" value="Sign Up">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}