@(changes: List[Change], user: User, changeForm: Form[Change])

@main(user) {
	<ol class="breadcrumb">
		<li><a href="/">Dashboard</a></li>
		<li class="active">Unassigned Changes</li>
	</ol>



	<div class="panel-group" id="accordion">
	@changes.groupBy(_.summary).map {
		case (summary, changes) => {
						@changes.map { change =>
							<div class="panel panel-default">							
							@views.html.changes.itemsummary(change)
							<!-- Button trigger modal -->
							<a data-toggle="modal" href="#changeModal@change.id"  class="btn btn-primary pull-right btn-sm">Assign Change Builder</a>
							
							</div>
							</div>	
							</div>
							@views.html.modals.modalstart(change)
							@views.html.modals.modalnew(change)
							@views.html.changemanagement.formbuild(changeForm, change)
							@views.html.modals.modalend(change)
						}
		}
	}
	</div>

}