@(changes: List[Change], user: User, changeForm: Form[Change])

@main(user) {
	<ol class="breadcrumb">
		<li><a href="/">Dashboard</a></li>
		<li class="active">All changes</li>
	</ol>



	<div class="panel-group" id="accordion">
	@changes.groupBy(_.summary).map {
		case (summary, changes) => {
						@changes.map { change =>
							<div class="panel panel-default">							
							@views.html.changes.itemsummary(change)
							<a href="@routes.Changes.view(change.id)" class="btn btn-default pull-right btn-sm">Full details</a>
							<a data-toggle="modal" href="#changeModal@change.id"  class="btn btn-primary pull-right btn-sm">View Details</a>
							</div>
							</div>
							</div>
							@views.html.modals.modalstart(change)
							@views.html.modals.modalnew(change)
							@views.html.changes.formassess(changeForm, change)
							@views.html.modals.modalend(change)
						}
		}
	}
	</div>

}