@(systems: List[ICTSystem], user: User)

@main(user) {
	<ol class="breadcrumb">
		<li><a href="/">Dashboard</a></li>
		<li class="active">All Systems</li>
	</ol>

	<div class="panel-group  panel-default" id="accordion">
	@systems.groupBy(_.iao).map {
            case (iao, systems) => {
						@systems.map { system =>
								<div class="accordion" id="accordion1"><div class="panel panel-default">
                                @views.html.systems.item(system)
								</div>
						}
		}
	}
	</div>
	

}
